<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kettlerepoquery.Properties.Settings.ConnectionString"
			 connectionString="Data Source=x.x.x.x;Initial Catalog=db;Integrated Security=False;User ID=user;Password=pwd"
			 providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>


